<% include ./partials/header.ejs%>

<div class="well">
    <h1 class="text-center">File Upload Practice</h1>
</div>


        <div class="container">
            <div id="app">
                <h1>{{ message }} </h1>
            </div>
            <div class="well">
                <form action="/basic_upload" style="margin-left: 0; display: inline-block;" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputFile">Basic file Upload with Multer</label>
                        <input type="file" name="basicFile" id="exampleInputFile">
                    </div>
                        <button class="btn btn-primary">Basic file Upload</button>
                </form>
                <div>
            <% if(photo !== "") { %>
                <img style="width: 200px; margin-top: 10px; display: inline-block";
                     src="/uploads/basic_uploads/<%= photo.filename %>" alt="<%= photo.size %>" class="img-thumbnail">
                <a style="display: block;" href="/uploads/basic_uploads/<%= photo.filename %>">Download link</a>
                <% } %>
                </div>
            </div>
            <div class="well">
                <form id="uploadForm" action="/ajax_upload" method="POST" enctype="multipart/form-data" onsubmit="submitFormAjax();return false;">
                    <div class="form-group">
                        <label for="exampleInputFile">Ajax file Upload with Multer</label>
                        <input type="file" name="ajaxFile" id="exampleInputFile">
                    </div>
                        <input class="btn btn-primary" type="submit" value="Basic file Upload">
                </form>
                <div id="targetLayer"></div>

            </div>

            <div class="well">
                <form action="/test-form" method="POST">
                    <input type="text" name="proposal[1]">
                    <input type="text" name="proposal[2]">
                    <button class="btn btn-default">submit</button>
                </form>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <div id="form-container">
                            <form action="/addTeamMember" method="POST" id="teamMemberForm">

                            </form>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Department</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                            </tbody>
                        </table>
                        <div id="form-container">
                            <form method="POST" id="teamMemberForm">
                                <input type="text" name="username">
                                <input type="text" name="mail">
                                <input type="text" name="description">
                                <div class="row" id="memberRow">
                                    <div class="col-md-4">
                                        <input class="form-control teamDep" name="member[department]" type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control teamMemb" name="member[name]" type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control teamRole" name="member[role]" type="text">
                                    </div>
                                </div>
                            </form>
                            <button id="subm" class="btn btn-danger btn-xs">submit</button>
                            <button class="btn btn-warning btn-xs" id="addMore">Add More</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


<% include ./partials/footer.ejs%>